<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Look for a flight
                </mat-panel-title>
                <mat-panel-description>  
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <form #userInput ="ngForm">
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <label>Trip</label>
                                </td>
                                <td>
                                    <mat-radio-group name="travelType" [(ngModel)]="travelType">
                                        <mat-radio-button value="auto">Auto</mat-radio-button>
                                        <mat-radio-button value="always">Always</mat-radio-button>
                                      </mat-radio-group>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>From</label>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                    <mat-select name="departure" [(ngModel)]="departure" required>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option value="option">Option</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>To</label>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                    <mat-select name="destination" [(ngModel)]="destination" required>
                                        <mat-option>-- None --</mat-option>
                                        <mat-option value="option">Option</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Departure</label>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker" [min]="minDate" name="from" [(ngModel)]="from" disabled>
                                        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                                      </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Adults</label>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <input matInput type="number" name="adult" [(ngModel)]="adult" min='0'>
                                      </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Children</label>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <input matInput type="number" name="child" [(ngModel)]="child" min='0'>
                                      </mat-form-field>
                                </td>
                            </tr>
                        </table>                          
                    </div>
                </form>            
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Hotels
                </mat-panel-title>
                <mat-panel-description>  
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <!-- <form [formGroup]="userInput">
                    <div>
                        <label>Trip</label> 
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="oneway">One Way</mat-radio-button>
                            <mat-radio-button value="return">Return</mat-radio-button>
                        </mat-radio-group>                           
                    </div>
                </form>             -->
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Cars
                </mat-panel-title>
                <mat-panel-description>  
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <!-- <form [formGroup]="userInput">
                    <div>
                        <label>Trip</label> 
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="oneway">One Way</mat-radio-button>
                            <mat-radio-button value="return">Return</mat-radio-button>
                        </mat-radio-group>                           
                    </div>
                </form>             -->
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Registers
                </mat-panel-title>
                <mat-panel-description>  
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <!-- <form [formGroup]="userInput">
                    <div>
                        <label>Trip</label> 
                        <mat-radio-group [formControl]="floatLabelControl">
                            <mat-radio-button value="oneway">One Way</mat-radio-button>
                            <mat-radio-button value="return">Return</mat-radio-button>
                        </mat-radio-group>                           
                    </div>
                </form>             -->
        </mat-expansion-panel>
    </mat-accordion>
</div>
