.home-bar{
    height:30px;
    border-bottom: solid 1px grey;
    margin-bottom: -10px;
}
.directions{
    display:flex;
    flex-direction: row-reverse;
    margin-right:30px;
    margin-top: -50px;
}