<mat-card>
    <div class="flexdirection">
        <div class="label">
            <h4>Flights</h4>
        </div>
        <div>
            <button [style.background-color]="offerTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(1)">OFFERS</button>
            <button [style.background-color]="regTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(2)">REGULAR</button>
            <button [style.background-color]="infoTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(3)">INFO</button>
        </div>
    </div>
    <div *ngIf = "offerTab == 1">
        <table>
           <tr>
               <th>Direction</th>
               <th>Date</th>
               <th>Time</th>
               <th>Price</th>
               <th>You Save</th>
               <th>Tickets</th>
               <th>Status</th>
           </tr> 
           <tr>
               <td>Minsk International 2 BY - Berlin Schoenefeld DE</td>
               <td>13 January 2020</td>
               <td><mat-icon>keyboard_arrow_right</mat-icon></td>
               <td>$256.00</td>
               <td>$32.00</td>
               <td>55</td>
               <td>Open</td>
           </tr>
        </table>
    </div>
    <div *ngIf = "regTab == 1">
        <table>
           <tr>
               <th>Direction1</th>
               <th>Date1</th>
               <th>Time</th>
               <th>Price</th>
               <th>You Save</th>
               <th>Tickets</th>
               <th>Status</th>
           </tr> 
           <tr>
               <td>Minsk International 2 BY - Berlin Schoenefeld DE</td>
               <td>13 January 2020</td>
               <td><mat-icon>keyboard_arrow_right</mat-icon></td>
               <td>$256.00</td>
               <td>$32.00</td>
               <td>55</td>
               <td>Open</td>
           </tr>
        </table>
    </div>
    <div *ngIf = "infoTab == 1">
        <table>
           <tr>
               <th>Direction2</th>
               <th>Date2</th>
               <th>Time</th>
               <th>Price</th>
               <th>You Save</th>
               <th>Tickets</th>
               <th>Status</th>
           </tr> 
           <tr>
               <td>Minsk International 2 BY - Berlin Schoenefeld DE</td>
               <td>13 January 2020</td>
               <td><mat-icon>keyboard_arrow_right</mat-icon></td>
               <td>$256.00</td>
               <td>$32.00</td>
               <td>55</td>
               <td>Open</td>
           </tr>
        </table>
    </div>
</mat-card>