<mat-card>
    <div class="flexdirection">
        <div class="label">
            <h4>Flights</h4>
        </div>
        <div>
            <button [style.background-color]="offerTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(1)">OFFERS</button>
            <button [style.background-color]="regTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(2)">REGULAR</button>
            <button [style.background-color]="infoTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(3)">INFO</button>
        </div>
    </div>
    <div *ngIf = "offerTab == 1">
        <table>
           <tr>
               <th><div class="flexdirection"><span>Direction</span><mat-icon>menu</mat-icon></div></th>
               <th><div class="flexdirection"><span>Date</span><mat-icon>menu</mat-icon></div></th>
               <th><div class="flexdirection"><span>Time</span><mat-icon>menu</mat-icon></div></th>
               <th><div class="flexdirection"><span>Price</span><mat-icon>menu</mat-icon></div></th>
               <th><div class="flexdirection"><span>You Save</span><mat-icon>menu</mat-icon></div></th>
               <th><div class="flexdirection"><span>Tickets</span><mat-icon>menu</mat-icon></div></th>
               <th><div class="flexdirection"><span>Status</span><mat-icon>menu</mat-icon></div></th>
           </tr> 
           <tr *ngFor="let det of list">
               <td>{{det.direction}}</td>
               <td>{{det.date}}</td>
               <td><mat-icon>keyboard_arrow_right</mat-icon></td>
               <td>{{det.price}}</td>
               <td>{{det.save}}</td>
               <td>{{det.tickets}}</td>
               <td>{{det.status}}</td>
           </tr>
        </table>
    </div>
    <div *ngIf = "regTab == 1">
        <table>
           <tr>
                <th><div class="flexdirection"><span>Direction1</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Date</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Time</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Price</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>You Save</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Tickets</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Status</span><mat-icon>menu</mat-icon></div></th>
           </tr> 
           <tr *ngFor="let det of list">
                <td>{{det.direction}}</td>
                <td>{{det.date}}</td>
                <td><mat-icon>keyboard_arrow_right</mat-icon></td>
                <td>{{det.price}}</td>
                <td>{{det.save}}</td>
                <td>{{det.tickets}}</td>
                <td>{{det.status}}</td>
        </tr>
        </table>
    </div>
    <div *ngIf = "infoTab == 1">
        <table>
           <tr>
                <th><div class="flexdirection"><span>Direction2</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Date</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Time</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Price</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>You Save</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Tickets</span><mat-icon>menu</mat-icon></div></th>
                <th><div class="flexdirection"><span>Status</span><mat-icon>menu</mat-icon></div></th>
           </tr> 
           <tr *ngFor="let det of list">
                <td>{{det.direction}}</td>
                <td>{{det.date}}</td>
                <td><mat-icon>keyboard_arrow_right</mat-icon></td>
                <td>{{det.price}}</td>
                <td>{{det.save}}</td>
                <td>{{det.tickets}}</td>
                <td>{{det.status}}</td>
        </tr>
        </table>
    </div>
</mat-card>