<mat-card>
    <div class="flexdirection">
        <div class="label">
            <button class="mat-raised-button" matTooltip="Choose File" (click)="fileInput.click()">choose</button>
            <button class="mat-raised-button" (click)="exportexcel()">download</button>
            <input style="display: none;" type="file" #fileInput (change)="fileChangeEvent($event)">
            <h4>Flights</h4>
        </div>
        <div>
            <button [style.background-color]="offerTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(1)">OFFERS</button>
            <button [style.background-color]="regTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(2)">REGULAR</button>
            <button [style.background-color]="infoTab==1?'rgb(207, 201, 201)':'white'" (click)="changetable(3)">INFO</button>
            <button [style.background-color]="infoTab==1?'rgb(207, 201, 201)':'white'" routerLink = "/forms" (click)="changetable(4)">FORMS</button>
        </div>
    </div>
    <div *ngIf = "offerTab == 1">
        <table id="excel-table">
           <tr>
               <th (mouseover)="changeText1=true" (mouseout)="changeText1=false">
                   <div class="flexdirection"><span>Direction</span><mat-icon (click)="sort('direction')" [style.visibility]="changeText1?'visible':'hidden'">menu</mat-icon></div>
                </th>
               <th (mouseover)="changeText2=true" (mouseout)="changeText2=false">
                   <div class="flexdirection"><span>Date</span><mat-icon (click)="sort('date')" [style.visibility]="changeText2?'visible':'hidden'">menu</mat-icon></div>
                </th>
               <th (mouseover)="changeText3=true" (mouseout)="changeText3=false">
                   <div class="flexdirection"><span>Time</span><mat-icon [style.visibility]="changeText3?'visible':'hidden'">menu</mat-icon></div>
                </th>
               <th (mouseover)="changeText4=true" (mouseout)="changeText4=false">
                   <div class="flexdirection"><span>Price</span><mat-icon (click)="sort('price')" [style.visibility]="changeText4?'visible':'hidden'">menu</mat-icon></div>
                </th>
               <th (mouseover)="changeText5=true" (mouseout)="changeText5=false">
                   <div class="flexdirection"><span>You Save</span><mat-icon (click)="sort('save')" [style.visibility]="changeText5?'visible':'hidden'">menu</mat-icon></div>
                </th>
               <th (mouseover)="changeText6=true" (mouseout)="changeText6=false">
                   <div class="flexdirection"><span>Tickets</span><mat-icon (click)="sort('tickets')" [style.visibility]="changeText6?'visible':'hidden'">menu</mat-icon></div>
                </th>
               <th (mouseover)="changeText7=true" (mouseout)="changeText7=false">
                   <div class="flexdirection"><span>Status</span><mat-icon (click)="sort('status')" [style.visibility]="changeText7?'visible':'hidden'">menu</mat-icon></div>
                </th>
           </tr> 
           <tr *ngFor="let det of list">
               <td>{{det.direction}}</td>
               <td>{{det.date}}</td>
               <td><mat-icon>keyboard_arrow_right</mat-icon></td>
               <td>{{det.price}}</td>
               <td>{{det.save}}</td>
               <td>{{det.tickets}}</td>
               <td>{{det.status}}</td>
           </tr>
        </table>
    </div>
    <div *ngIf = "regTab == 1">
        <table>
           <tr>
            <th (mouseover)="changeText1=true" (mouseout)="changeText1=false">
                <div class="flexdirection"><span>Direction2</span><mat-icon [style.visibility]="changeText1?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText2=true" (mouseout)="changeText2=false">
                <div class="flexdirection"><span>Date</span><mat-icon [style.visibility]="changeText2?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText3=true" (mouseout)="changeText3=false">
                <div class="flexdirection"><span>Time</span><mat-icon [style.visibility]="changeText3?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText4=true" (mouseout)="changeText4=false">
                <div class="flexdirection"><span>Price</span><mat-icon [style.visibility]="changeText4?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText5=true" (mouseout)="changeText5=false">
                <div class="flexdirection"><span>You Save</span><mat-icon [style.visibility]="changeText5?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText6=true" (mouseout)="changeText6=false">
                <div class="flexdirection"><span>Tickets</span><mat-icon [style.visibility]="changeText6?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText7=true" (mouseout)="changeText7=false">
                <div class="flexdirection"><span>Status</span><mat-icon [style.visibility]="changeText7?'visible':'hidden'">menu</mat-icon></div>
             </th>
           </tr> 
           <tr *ngFor="let det of list">
                <td>{{det.direction}}</td>
                <td>{{det.date}}</td>
                <td><mat-icon>keyboard_arrow_right</mat-icon></td>
                <td>{{det.price}}</td>
                <td>{{det.save}}</td>
                <td>{{det.tickets}}</td>
                <td>{{det.status}}</td>
        </tr>
        </table>
    </div>
    <div *ngIf = "infoTab == 1">
        <table>
           <tr>
            <th (mouseover)="changeText1=true" (mouseout)="changeText1=false">
                <div class="flexdirection"><span>Direction1</span><mat-icon [style.visibility]="changeText1?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText2=true" (mouseout)="changeText2=false">
                <div class="flexdirection"><span>Date</span><mat-icon [style.visibility]="changeText2?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText3=true" (mouseout)="changeText3=false">
                <div class="flexdirection"><span>Time</span><mat-icon [style.visibility]="changeText3?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText4=true" (mouseout)="changeText4=false">
                <div class="flexdirection"><span>Price</span><mat-icon [style.visibility]="changeText4?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText5=true" (mouseout)="changeText5=false">
                <div class="flexdirection"><span>You Save</span><mat-icon [style.visibility]="changeText5?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText6=true" (mouseout)="changeText6=false">
                <div class="flexdirection"><span>Tickets</span><mat-icon [style.visibility]="changeText6?'visible':'hidden'">menu</mat-icon></div>
             </th>
            <th (mouseover)="changeText7=true" (mouseout)="changeText7=false">
                <div class="flexdirection"><span>Status</span><mat-icon [style.visibility]="changeText7?'visible':'hidden'">menu</mat-icon></div>
             </th>
           </tr> 
           <tr *ngFor="let det of list">
                <td>{{det.direction}}</td>
                <td>{{det.date}}</td>
                <td><mat-icon>keyboard_arrow_right</mat-icon></td>
                <td>{{det.price}}</td>
                <td>{{det.save}}</td>
                <td>{{det.tickets}}</td>
                <td>{{det.status}}</td>
        </tr>
        </table>
    </div>
    <div *ngIf = "formtab == 1">
        <router-outlet></router-outlet>
    </div>
</mat-card>